@import url(./styles/header.css);
@import url(./styles/home.css);
@import url(./styles/contants.css);
@import url(./styles/delivery.css);
@import url(./pager/goods/googs.css);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Cuprum:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto; /* Добавленное свойство */
  min-width: 100%;
  display: flex;
  flex-direction: column;
}




body {
  background-image: url('../public/img/OBDPN20.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

